body {
    margin: 0px;
    padding: 0px;
    background-color: #f6f6f6;
}


/*footer*/

footer div#home {
    position: fixed;
    display: flex;
    bottom: 0;
    background: url(../img/back-nav-footer.png) no-repeat;
    width: 100%;
    text-align: center;
}

footer p {
    position: relative;
    font-size: 8pt;
    bottom: -15px;
}

footer div {
    position: relative;
}

footer img {
    position: relative;
    bottom: -12px;
}

div#tel img {
    position: absolute;
    bottom: 20px;
    background-color: #6d47f8;
    border-radius: 35px 35px;
    margin-left: -28px;
    margin-bottom: 6px;
    padding: 17px;
}

div#tel p {
    position: relative;
    bottom: -40px;
}

div#home div {
    padding: 0px 13px 0px 13px;
}


/*--*/

div.cabe {
    background-color: #5f77df;
    height: 150px;
    top: 10px;
}

div.local {
    color: #fff;
    display: flex;
    font-size: 7pt;
    margin-left: 280px;
    margin-top: -60px;
}

img.logo1 {
    position: relative;
    padding-top: 50px;
}

img.img1 {
    position: relative;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: -40px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 4em #8d8d8d72;
}

div.col-4 p {
    text-align: center;
    font-size: 10pt;
}

.carrossel {
    overflow: hidden;
    margin-bottom: 30px;
}

.container {
    display: flex;
    transition: transform 1s ease-in-out;
    transform: translateX(0);
}

.container img {
    border-radius: 20px;
    border: 1px solid #0000;
    width: 100%;
}


/*container2*/

div.container2 {
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    font-size: 10pt;
    box-shadow: 0 0 4em #8d8d8d72;
    border-radius: 20px;
    margin: 15px;
}

.container2 img {
    background-color: #5f77df;
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

.container2 .sort {
    position: relative;
    left: -10px;
}


/*titulos h3*/

h3 {
    margin-bottom: 30px;
    margin-top: 40px;
    color: #3f4079;
    font-size: 13pt;
    margin-left: 9px;
}


/*container3*/

div.requi {
    display: flex;
    position: static;
    background-color: #f6f6f6;
}

div.requi .t {
    display: block;
    border-radius: 15px;
    background: #ffffff;
    margin: 14px;
    padding: 12px;
    font-size: 10pt;
}

div.requi img.img {
    position: relative;
    top: -25px;
    left: 23px;
    width: 59%;
}

div.requi img.img2 {
    width: 19%;
    position: relative;
    left: -23px;
    top: 18px;
}

div.requi p.tx {
    position: relative;
    left: 20px;
    top: 16px;
}

div.requi p.tx1 {
    color: #3f4079;
    margin-top: -5px;
    font-size: 10pt;
}

div.requi p.tx2 {
    font-size: 8pt;
    margin-top: -6px;
}

div.requi p.tx div.t .tx1 {
    color: #3f4079;
}

div.t .tx2 {
    color: #8a8a8a;
}


/*container4*/

div.agen {
    padding: 10px;
    display: flex;
    overflow: hidden;
}

div.agen .p {
    background-color: #ffffff;
    border-radius: 10px 45px 10px 45px;
    padding: 11%;
    margin: 11px;
    height: 106px;
    width: 119px;
}

.agen .p p {
    font-size: 8pt;
    margin: 15px;
}

div.p h4 {
    display: block;
    position: relative;
    font-size: 7pt;
    color: #414477;
    left: -7px;
    top: -17px;
}

div.p .p2 {
    color: #8a8a8a;
    left: -7px;
    position: relative;
    top: -27px;
    font-size: 6pt;
    display: table-cell;
}

div.p .p3 {
    color: #414477;
    position: relative;
    bottom: 23px;
    left: 0px;
    font-size: 7pt;
}

div.p .imga {
    position: relative;
    top: -64px;
    width: 40%;
    left: 56px;
}

div.agen {
    background-color: #697be5;
    width: 100%;
}


/*container5*/

div.container5 {
    background-color: #f6f6f6;
    margin: 25px;
}

.container5 .col-12 {
    background-color: #ffffff;
    margin-bottom: 19px;
    border-radius: 20px;
    display: -webkit-box;
}

.container5 h5 {
    position: absolute;
    color: #3f4079;
    font-size: 11pt;
    top: 20px;
    left: 69px;
}

.container5 img.est {
    position: relative;
    width: 5%;
    left: 181px;
    height: 17%;
    top: 9px;
}

.container5 .txt {
    position: absolute;
    left: 69px;
    top: 40px;
    font-size: 8pt;
    color: #919191;
}

.container5 .txt3 {
    position: absolute;
    left: 279px;
    top: 16px;
    font-size: 8pt;
    color: #858585;
}

.container5 img.ico {
    position: relative;
    left: -8px;
    top: 10px;
}

.container5 img.cora {
    position: absolute;
    top: 39px;
    left: 263px;
}

@media only screen and (max-width: 320px) {
    img.logo1 {
        width: 36%;
    }
    p.sp {
        margin-left: -44px;
        padding-right: 3px;
    }
    div#home div {
        padding: 0px 3px 0px 13px;
    }
    div.requi .t {
        padding: 2px;
    }
    div.requi img.img {
        top: -18px;
        left: 27px;
        width: 52%;
    }
}